.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.group {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.group > input,
.group > textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  font-size: 14px;
  text-align: start;

  border-radius: 4px;
  border: 1px solid #d5d5d5 !important;
  -webkit-box-shadow: 0px 1px 4px 2px #d5d5d5;
  -moz-box-shadow: 0px 1px 4px 2px #d5d5d5;
  box-shadow: 0px 1px 4px 2px #d5d5d5;
}

.group > textarea {
  resize: vertical;
  min-height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.group > label {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
}

.editButton {
  align-self: center;
  text-align: center;

  margin-top: 24px;
  height: 34px;
  width: 55%;
  background-color: #388dee;
  border-radius: 20px;
  border-width: 2px;
  border: 1px solid #d5d5d5 !important;

  font-size: 16px;
  font-weight: bold;
  color: aliceblue;

  -webkit-box-shadow: 0px 1px 4px 2px #d5d5d5;
  -moz-box-shadow: 0px 1px 4px 2px #d5d5d5;
  box-shadow: 0px 1px 4px 2px #d5d5d5;
}

.editButton:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 4px 2px #d5d5d5;
  -moz-box-shadow: 0px 1px 4px 2px #d5d5d5;
  box-shadow: 0px 1px 4px 2px #d5d5d5;
  transition: box-shadow 0.2s ease;
}

/* // Size can also be negative; see how it's smaller than the element */
.editButton:hover,
.editButton:focus {
  box-shadow: 0px 3px 5px 3px #d5d5d5;
  transform: translateY(-0.15em);
  transition: 0.2s ease-out;
}
